
  
 :root{
  --main-color: #323232;
  --font-color-sub: #666;
  --light-font-color:#F8F3ED;
  --text-color: #000000;
  --background-color:#e1dfdd;
 }

 
  body {
      background: #e1dfdd ;
      margin: 0;
      padding: 0;
     box-sizing: border-box;  /* THIS MAKE CONTENT RESPECT BOUNDERIES https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
     
  }

  /* -----Hero Section */
  .text-container{  
    border: 4px solid var(--main-color);
    box-shadow: 44px 44px var(--main-color);
    border-radius: 9px;
   width: 80%;
   padding: 20px;
   margin: 20px auto;
   display: flex;
   flex-direction: column;
   gap: 20px;
 
  }

 
.content-hero{
  display: flex; 
  gap: 20px;
align-items: flex-start;

}

h1{
  font-family: "Work Sans", serif;
  font-weight: 900;
   font-size: 55px;
   color: black;
   text-transform: uppercase;
   text-align: start;
   margin: 0;
}
h2{
  font-family: "Work Sans", serif;
  font-weight: 900;
   font-size: 55px;
   color: black;
   text-transform: uppercase;
  text-align: end;
  margin: 0;
}


 
  .info-box h3{
      font-family: "Work Sans", serif;
    font-weight: 900;
     font-size: 40px;
     color: black;
     text-transform: uppercase;
     font-style: normal;
     text-decoration: underline;
  } 

  p{
    font-family: "DM Sans", serif;

  }

  /* this is the whole hero section-the first page is shown */
  



.content-hero img{
  object-fit: cover;
  filter: grayscale(25%);
  border-radius: 5px;
  border: 6px solid var(--main-color);
  /* box-shadow: 4px 4px var(--main-color); */
  height: auto;
  width: 40%;
  
}

.info-box{
  flex: 1;
  padding: 15px;
  font-size: 45px;

}


.tech-stack{
 margin-top: 10px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
  }

  .tech-stack svg{
    width: 60px;
    height: 40px;
  }
  
 

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-30px);
  }
}

.bottom-section .Arrow-down{
  animation:
      bounce 800ms
      alternate infinite;
  font-family: "DM Sans", serif;
  font-size: 114px;
  line-height: 1.18;
  outline: none; 
  flex: 1;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}

 .bottom-section{
  display: flex;
  justify-content: space-between;
  gap: 10px;

}

.bottom-section .work{
  flex: 1;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  font-family: "DM Sans", serif;
  font-size: 45px;
}

.bottom-section .based{
  flex: 1;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  font-family: "DM Sans", serif;
  font-size: 45px;
}

/* Centering when width > 1500px */
@media (min-width: 1500px) {
  .container {
      max-width: 1000px;
  }
}

    /* Responsive Adjustments */
    @media (max-width: 1024px) {
      .container {
          width: 90%;
      }
      .header {
          font-size: 14px;
          padding: 8px;
      }
      .content-hero {
          flex-direction: column;
          align-items: center;
      }
      .content-hero img {
          width: 60%;
      }
      .info-box {
          width: 90%;
          text-align: center;
      }
      h3{
        justify-content: center;
      }
      .bottom-section {
          flex-direction: column;
          align-items: center;
      }
      .bottom-section .work {
          width: 90%;
          padding: 10px;
      }

      .bottom-section .Arrow-down {
        width: 90%;
        padding: 10px;
    }
    .bottom-section .based {
      width: 90%;
      padding: 10px;
  }
  }

.projects{
  background-color: var(--main-color);
}


.content-wrap{
  width: 90%;
  margin: 140px auto;
  display: flex;
  flex-direction: column;

  
 
}


.content-wrap h1{
  color: var(--background-color);
  font-size: 55px;
  border-bottom:1px solid ;
  margin-bottom: 90px;

}

.content-wrap h2{
  color: var(--background-color);
  font-size: 55px;
  border-bottom:1px solid ;
  margin-bottom: 9px;
 
}
.column-narrow{
  border: 4px solid var(--background-color);
border-radius: 9px;
background-color: var(--background-color);
padding-bottom: 60px;
/* display: none; */

}

h4{
  font-family: "Work Sans", serif;
  font-weight: 900;
   font-size: 55px;
   color: black;
   text-transform: uppercase;
  margin-left: 20px;
  text-align: center;
}

.column-narrow p{
  margin-left: 20px;
  width: 26%;
  font-size: 24px;
  font-family: "DM Sans", serif;
}

.picture-frame-2 img{
  float: right;
  width: 55%;
  object-fit: cover;
  border: 4px solid var(--main-color);
  border-radius: 4px;
 }

 .info-class p{
  margin-left: 20px;
  font-size: 30px;
  width: 26%;   
  padding-bottom: 10px;
  border-bottom: 2px solid;
 
 }

 .tech-stack-project{
  margin-top: 10px;
  margin-left: 10px;
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 20px;
   }
 
   .tech-stack-project svg{
     width: 60px;
     height: 40px;
   }




.controls-section .left-button{
  position: relative;
  font-family: "DM Sans", serif;
  top: 50%;
  left:40vw;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 46px;
margin-top: 10px ;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
   transform: rotate(90deg);
}

.controls-section .right-button{
  position: relative;
  font-family: "DM Sans", serif;
  top: 50%;
  left:41vw;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 46px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
   transform: rotate(270deg);
}

@media only screen and (max-width: 705px) {

  .controls-section .left-button{
    left: 25vw
  }
  .controls-section .right-button{
    left: 27vw;
  }
  
  h1{
   font-size: 35px;
  }
  h2{
   font-size: 35px;
  }
  .info-box p{
   font-size: 35px;
  }
 .content-hero img {
     width: 80%;
 }
 .info-box {
     width: 100%;
 }
 h3{
   justify-content: center;
 }
 
 .tech-stack svg{
   width: 45px;
   height: 25px;
   font-size: 16px;
 }
 .bottom-section .work{
   font-size: 35px;
 }
 .bottom-section .based{
   font-size: 35px;
 }
 .bottom-section .Arrow-down{
   font-size: 45px;
 }
 
 .text-container{  
   border-radius: 6px;
   box-shadow: 10px 10px var(--main-color);
 
 
 }
 .content-wrap h1{
  font-size: 35px;
 }

 

 
 }


 @media only screen and (max-width: 1850px){
  
 .content-wrap h2{
  font-size: 35px;
 }
 
 .picture-frame-2 img{
  width: 98%;

 }
 
 h4{
  font-size: 35px;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
 }
 .column-narrow p{
  width: 100%;
  margin: 0;
  padding: 0;
padding-top: 10px;
padding-bottom: 10px;
 }
  
 }
/* adjust to the correct screen size  */
@media only screen and (min-width: 1800px) {
  .timeline{
    left: 25vw;
  }
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  padding-bottom: 90px;
  
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: var(--light-font-color);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;

}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
 right:  -10px;
  background-color: var(--light-font-color);
  top: 0;
  border-radius: 50%;
 
}
* {
  box-sizing: border-box;
}
/* Place the container to the left */
.left {
  left: 0;
 
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px; 
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: var(--light-font-color);
  position: relative;
  border-radius: 6px;
  border: 2px solid;
  box-shadow: -20px 20px var(--font-color-sub);
  font-family: "DM Sans", serif;
  font-size: 25px;
}

/* timeline small screen  */
@media screen and (max-width: 600px) {

  .content{
    margin-bottom: 20px;
  }
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  } 
  
  /* Full-width containers */
  .container {
   width: 100%;
  padding-left: 70px;
  padding-right: 0;


  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }

  
}

.github {
  position: relative;
left: 20px;
top: 30px;
  font-family: "Work Sans", serif;
  font-weight: 900;
   font-size: 25px;
   color: black;
   text-transform: uppercase;
  
}

.website{
position: relative;
left: 50px;
top: 30px;

  font-family: "Work Sans", serif;
  font-weight: 900;
   font-size: 25px;
   color: black;
   text-transform: uppercase;
}

  footer{
  
    display: flex;
     flex-direction: column;
      font-size: .8em;
    text-align: center;
    border: 3px solid var(--main-color);
    border-radius: 9px;
    
      
  }
  footer h3{
  font-family: "Work Sans", serif;
  font-weight: 900;
   font-size: 55px;
   color: black;
   text-transform: uppercase;
  }
  .contact-info a{
    padding: 10px; 
    display: inline-block;
    flex-direction: column;
    color: var(--main-color);
  }
  
  
  a:hover {
      color: var(--light-font-color);
  }
  
  
  
  